<div class="card mt-1">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <p-button label="New" icon="pi pi-plus" class="mr-2"></p-button>
        </div>
        <div class="p-toolbar-group-center">
            <span class="text-primary font-semibold text-xl">Pets</span>
        </div>
        <div class="p-toolbar-group-end">
            <p-button icon="pi pi-search" class="mr-2"></p-button>
            <p-button icon="pi pi-calendar" styleClass="p-button-success mr-2"></p-button>
        </div>
    </p-toolbar>
</div>
